.pi {
  font-size: 4em;
  margin-bottom: 15px;
}
.name {
    font-size: 1.5em;
}

.number {
    margin-top: 50px;
    font-size: 2.5em;

}

.orders {
  background-color: #ffe53b;
  background-image: linear-gradient(147deg, #ffe53b 0%, #ff2525);
}

.products {
  background-color: #4158d0;
  background-image: linear-gradient(43deg, #4158d0 0%, #c850c0 46%,#ffcc70 100%);
}

.users {
  background-color: #3eecac;
  background-image: linear-gradient(19deg, #3eecac 0%, #ee74e1 100%);
}

.totalsales {
  background-color: #fbda61;
  background-image: linear-gradient(45deg, #fbda61 0%, #ff5acd 100%);
}

.item {
  text-align: center;
  color: black;
  justify-content: space-between;
}



