<div class="footer" style="background-color: rgb(255, 209, 152);">
  <div class="container-fluid text-center p-3">
    <div class="row">
      <div class="col-2 p-0"></div>
      <div class="col-5 p-0">
        &#169; copyright 2023 <br>
        All rights reserved
      </div>
      <div class="col-1"></div>
      <div class="col-1">
        <a href="#"><i class="pi pi-facebook" style="color: gray !important;"></i></a>
      </div>
      <div class="col-1">
        <a href="#"><i class="pi pi-instagram" style="color: gray !important;"></i></a>
      </div>
      <div class="col-1">
        <a href="#"><i class="pi pi-twitter" style="color: gray !important;"></i></a>
      </div>
    </div>
  </div>
</div>
